<div class="animated flipInX slow text-center cuadro-tarifa {{ seleccionado }}" (click)="selecciona()">


    <div class="pl-13">
        <p-header>
            <h6>{{ simulacion.importePrimerRecibo | number:'.0-2' }} UF</h6>

            <small>Anual</small>
        </p-header>
    </div>

    <p-footer>
        <button class="btn btn-primary" (click)="showDetalleTarifa()">
            <i class="fa fa-eye"></i>
            Ver detalles
        </button>
    </p-footer>

</div>

<p-dialog appendTo="body" header="{{ simulacion.descripcionActividad }} - {{simulacion.descripcionDeducible}}" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '600px'}" [minY]="50" [maximizable]="false" [baseZIndex]="100000">
    <p-card>
        <div class="pl-13">
            <p-header>
                <h6>{{ simulacion.importePrimerRecibo | currency }}</h6>
            </p-header>
        </div>

        <p-table [value]="simulacion.coberturas" class="table table-bordered" [scrollable]="true" scrollHeight="200px">
            <thead>
                <th>Coberturas</th>
            </thead>

            <ng-template pTemplate="body" let-cobertura>
                <tr>
                    <td>
                        {{ cobertura.nombreCobertura }}
                    </td>
                    <td>
                        {{ cobertura.primaTarifaCob }}
                    </td>
                </tr>
            </ng-template>

            | </p-table>
    </p-card>
</p-dialog>