<div class="fade-in-bottom">

    <div class="puff-lite-in-top">
    <p-card>

        <div class="row">
            <div class="col text-center slit-in-vertical">
                <img src="assets/img/logo_reale.png" height="100em" alt=" " />
            </div>
        </div>
            <form>
                <p-panel class="loginPanel shadow-drop-center" >
                <p-header>
                    <div class="tracking-in-contract">
                        <span class="ui-panel-title">
                            INICIAR SESIÓN
                        </span>
                    </div>
                </p-header>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                                <input type="text" pInputText placeholder="Username">         
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
                            <input type="password" pInputText placeholder="Password">         
                        </div>
                        </div>
                    </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-warning btn-lg btn-wide" (click)="login()"> 
                            <strong>
                                <i class="fa fa-key"></i>
                                INGRESAR
                            </strong>
                        </button>
                    </div>
                </div>
                
            </p-panel>
        </form>

    </p-card>
    </div>
</div>