<div class="fade-in">

    <p-card class="slide-in-top">
        
        <div class="section-container">
            <form>
                <div class="row">
                    <div class="col text-center">
                        <img src="assets/img/logo_reale.png " height="45 " alt=" " />
                    </div>
                </div>
                <p-panel class="loginPanel shadow-drop-center" >
                <p-header>
                    <span class="ui-panel-title">
                    <i class="fa fa-key"></i>
                    INICIAR SESIÓN
                </span>
                </p-header>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend"><i class="input-group-text fa fa-user"></i></div>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">

                                  <i class="input-group-text fa fa-lock" id="basic-addon1"></i>

                            </div>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                        </div>
                    </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-warning btn-wide" (click)="login()"> <strong>LOGIN</strong> </button>
                    </div>
                </div>
                
            </p-panel>
        </form>
    </div>
    </p-card>

</div>