<!-- Contenedor seleccion tarifas -->
<div>
    <div class="container section-container">
        <p-panel [toggleable]="true">

            <p-header>
                <span class="ui-panel-title">
                    <i class="fa fa-th"></i>
                    Seleccion tarifas
                    <!-- Desmarca las opciones de productos, deducibles o combinación de ambos que no quieras simular -->
                </span>
            </p-header>

            <!-- <p-card> -->
                <!-- <p-header> -->
                    <img src="assets/img/logo_reale.png" class="mb-3" style="width: 15em;">
                <!-- </p-header> -->

            <div class="tabla-tarifas-container">
                <table class="container tabla-tarifas">
                    <thead>
                        <tr>
                            <th class="colF headerprod pt-0">
                                PRODUCTO / DEDUCIBLE
                            </th>
                            <th *ngFor="let deducible of deduciblesExistentes; let d = index"
                                class="colF pt-1 header">
                                <div>
                                    <p-checkbox 
                                        name="fila"
                                        binary="true" 
                                        [label]="deducible.descripcionDeducible"
                                        [(ngModel)]="headerColumnas[d]"
                                        [class]="'header-columna-'+d"
                                        (onChange)="chequearTodaLaColumna(d, $event)">
                                    </p-checkbox>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let plan of planesExistentes; let i = index" >
                            <td class="colFCH headerprod">
                                <div>
                                    <p-checkbox 
                                        name="fila"
                                        binary="true"
                                        [label]="plan.descripcionActividad"
                                        [(ngModel)]="headerFilas[i]"
                                        [class]="'header-fila-'+i"
                                        (onChange)="chequearTodaLaFila(i, $event)">
                                    </p-checkbox>
                                </div>
                            </td>
                            <td class="colF header" *ngFor="let deducible of deduciblesExistentes; let j = index">
                                <input type="checkbox" 
                                    [id]="'cb'+i+j" 
                                    [class]="'fila-'+i+' columna-'+j"
                                    (change)="chequearHeadersFilaColumna(i, j)"
                                    [name]="'chk'+i+'-'+j"
                                    [(ngModel)]="grillaChecked[i][j]"/>
                                <label [for]="'cb'+i+j">
                                    <div class="img_item" 
                                        [ngStyle]="{'background-image': grillaChecked[i][j] ? backgroundOn : backgroundOff }">
                                    </div>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- </p-card> -->
        </p-panel>
    </div>
</div>
<!-- Contenedor seleccion tarifas -->