.card-menu-home {
    cursor: pointer;
    max-width: 12rem;
/*    -webkit-box-shadow: 7px 7px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 16px -5px rgba(0, 0, 0, 0.75);*/
}

.card-menu-home>.card-header {
    text-align: center;
}

.card-menu-home>.card-body {
    text-align: center;
}

.card-menu-home>.card-body>i {
    color: darkblue;
}