<!-- Contenedor datos principales -->
<p-card class="fade-in">
    <div class="container form-container shadow-drop-center" [style]="{width: '100%'}">


        <form (ngSubmit)="generarPropuesta(fp)" #fp="ngForm">


            <!-- Panel Principal Propuesta-->
            <p-panel [toggleable]="true">

                <p-header>
                    <span class="ui-panel-title">
                        <i class="fa fa-car"></i>
                        Datos Vehiculo
                    </span>
                </p-header>

                <!-- <p-tabView>
                    <p-tabPanel header="Vehiculo Nuevo"> -->

                <!-- Datos del vehiculo -->
                <div class="panel-container">
                    <p-panel [toggleable]="true">

                        <p-header>
                            <span class="ui-panel-title">
              <i class="fa fa-car"></i>
               Vehiculo Nuevo
            </span>
                        </p-header>

                        <div class="row">
                            <div class="col-sm input-label">
                                Motor *
                            </div>

                            <div class="col-sm input-label">
                                Chasis *
                            </div>

                            <div class="col-sm input-label">
                                Inicio Nueva Vigencia *
                            </div>

                            <div class="col-sm input-label">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>

                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>

                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                    </p-panel>
                </div>
            </p-panel>
            <!-- </p-tabPanel>
                </p-tabView> -->

            <br>

            <!-- Preexistencias -->
            <p-panel [toggleable]="true">

                <p-header>
                    <span class="ui-panel-title">
              <i class="fa fa-car"></i>
               Preexistencias
            </span>
                </p-header>

                <div class="panel-container">
                    <p-panel>
                        <p-header>
                            <span class="ui-panel-title">
              <i class="fa fa-car"></i>
              ¿Su vehiculo tiene danos?
            </span>
                        </p-header>

                        <div class="row">
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                </select>
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                    </p-panel>
                </div>
            </p-panel>
            <!-- Preexistencias -->

            <br>

            <!-- Accesorios -->
            <p-panel [toggleable]="true">

                <p-header>
                    <span class="ui-panel-title">
              <i class="fa fa-car"></i>
               Accesorios
            </span>
                </p-header>

                <div class="panel-container">
                    <p-panel>
                        <p-header>
                            <span class="ui-panel-title">
                                <i class="fa fa-car"></i>
                                ¿Su vehiculo tiene accesorios?
                    </span>
                        </p-header>

                        <div class="row">
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                </select>
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                    </p-panel>
                </div>
            </p-panel>
            <!-- Accesorios -->

            <br>

            <!-- Modalidad de Ingreso -->
            <p-panel [toggleable]="true">

                <p-header>
                    <span class="ui-panel-title">
              <i class="fa fa-car"></i>
               Modalidad de Ingreso
            </span>
                </p-header>

                <div class="panel-container">
                    <p-panel>
                        <p-header>
                            <span class="ui-panel-title">
                                <i class="fa fa-car"></i>
                                Modalidad de Ingreso
                    </span>
                        </p-header>

                        <div class="row">
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                </select>
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                    </p-panel>
                </div>

                <br>

                <!-- Con Factura -->
                <div class="panel-container">
                    <p-panel>
                        <p-header>
                            <span class="ui-panel-title">
                                    <i class="fa fa-file-invoice-dollar"></i>
                                    Con Factura
                        </span>
                        </p-header>

                        <div class="row">
                            <div class="col">
                                N° Factura *
                            </div>
                            <div class="col">
                                Fecha Factura *
                            </div>
                            <div class="col">
                                Nombre Emisor *
                            </div>
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                    <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                    </select>
                            </div>

                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>

                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>

                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                    </p-panel>
                </div>
                <!-- Con Factura -->

            </p-panel>
            <!-- Modalidad de Ingreso -->

            <br>

            <!-- Datos Personas -->
            <p-panel [toggleable]="true">
                <p-header>
                    <span class="ui-panel-title">
                        <i class="fa fa-users"></i>
                        Datos Personas
                    </span>
                </p-header>

                <p-tabView>
                    <p-tabPanel header="Asegurado/Propietario">

                        <div class="panel-container">
                            <p-panel>
                                <p-header>
                                    <span class="ui-panel-title">
                                        <i class="fa fa-user"></i>
                                        Ingrese los datos del Asegurado/Propietario
                                    </span>
                                </p-header>
                                <div class="row">
                                    <div class="col-sm input-label">
                                        Tipo de Documento *
                                    </div>
                                    <div class="col-sm input-label">
                                        Numero de Documento *
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                            <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                        </select>
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Primer Nombre *
                                    </div>
                                    <div class="col-sm input-label">
                                        Segundo Nombre
                                    </div>
                                    <div class="col-sm input-label">
                                        Apellido Paterno *
                                    </div>
                                    <div class="col-sm input-label">
                                        Apellido Materno
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Direccion *
                                    </div>
                                    <div class="col-sm input-label">
                                        Numero
                                    </div>
                                    <div class="col-sm input-label">
                                        Ciudad *
                                    </div>
                                    <div class="col-sm input-label">
                                        Comuna *
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                            <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                        </select>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Celular *
                                    </div>
                                    <div class="col-sm input-label">
                                        Telefono
                                    </div>
                                    <div class="col-sm input-label">
                                        Email
                                    </div>
                                    <div class="col-sm input-label">
                                        Medio Notificaciones *
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                            <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                        </select>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Direccion Notificaciones *
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>

                                <br>

                            </p-panel>
                        </div>
                    </p-tabPanel>

                    <p-tabPanel header="Contratante">

                        <div class="panel-container">
                            <p-panel>
                                <p-header>
                                    <span class="ui-panel-title">
                                            <i class="fa fa-user"></i>
                                            Ingrese los datos del Contratante
                                        </span>
                                </p-header>
                                <div class="row">
                                    <div class="col-sm input-label">
                                        Tipo de Documento *
                                    </div>
                                    <div class="col-sm input-label">
                                        Numero de Documento *
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                            </select>
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Primer Nombre *
                                    </div>
                                    <div class="col-sm input-label">
                                        Segundo Nombre
                                    </div>
                                    <div class="col-sm input-label">
                                        Apellido Paterno *
                                    </div>
                                    <div class="col-sm input-label">
                                        Apellido Materno
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Direccion *
                                    </div>
                                    <div class="col-sm input-label">
                                        Numero
                                    </div>
                                    <div class="col-sm input-label">
                                        Ciudad *
                                    </div>
                                    <div class="col-sm input-label">
                                        Comuna *
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                            </select>
                                    </div>
                                </div>

                                <br>

                            </p-panel>
                        </div>
                    </p-tabPanel>

                    <p-tabPanel header="Beneficiario">

                        <div class="panel-container">
                            <p-panel>
                                <p-header>
                                    <span class="ui-panel-title">
                                            <i class="fa fa-user"></i>
                                            Ingrese los datos del Beneficiario
                                        </span>
                                </p-header>
                                <div class="row">
                                    <div class="col-sm input-label">
                                        Tipo de Documento *
                                    </div>
                                    <div class="col-sm input-label">
                                        Numero de Documento *
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm input-label">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                            </select>
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>

                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Primer Nombre *
                                    </div>
                                    <div class="col-sm input-label">
                                        Segundo Nombre
                                    </div>
                                    <div class="col-sm input-label">
                                        Apellido Paterno *
                                    </div>
                                    <div class="col-sm input-label">
                                        Apellido Materno
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-sm input-label">
                                        Direccion *
                                    </div>
                                    <div class="col-sm input-label">
                                        Numero
                                    </div>
                                    <div class="col-sm input-label">
                                        Ciudad *
                                    </div>
                                    <div class="col-sm input-label">
                                        Comuna *
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <input class="form-control " type="text" />
                                    </div>

                                    <div class="col">
                                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                            </select>
                                    </div>
                                </div>

                                <br>

                            </p-panel>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </p-panel>
            <!-- Datos Personas -->

            <br>

            <!-- Datos de Pago -->
            <p-panel [toggleable]="true">
                <p-header>
                    <span class="ui-panel-title">
                    <i class="fa fa-credit-card"></i>
                    Datos del Pago
                    </span>
                </p-header>

                <div class="row">
                    <div class="col-sm input-label">
                        Forma de Pago *
                    </div>
                    <div class="col-sm input-label">
                        &nbsp;
                    </div>
                    <div class="col-sm input-label">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-sm input-label">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                            </select>
                    </div>

                    <div class="col">
                        &nbsp;
                    </div>

                    <div class="col">
                        &nbsp;
                    </div>

                    <div class="col">
                        &nbsp;
                    </div>
                </div>

                <br>

                <div class="panel-container">
                    <p-panel>
                        <p-header>
                            <span class="ui-panel-title">
                                <i class="fa fa-user"></i>
                                PAC
                            </span>
                        </p-header>
                        <div class="row">
                            <div class="col-sm input-label">
                                RUT Mandante *
                            </div>
                            <div class="col-sm input-label">
                                Mandante *
                            </div>
                            <div class="col-sm input-label">
                                &nbsp;
                            </div>
                            <div class="col-sm input-label">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>
                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>
                            <div class="col">
                                &nbsp;
                            </div>
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm input-label">
                                Tipo de Cuenta *
                            </div>
                            <div class="col-sm input-label">
                                Numero de Cuenta *
                            </div>
                            <div class="col-sm input-label">
                                Banco *
                            </div>
                            <div class="col-sm input-label">
                                Sucursal Banco
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                    <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                    <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                </select>
                            </div>
                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm input-label">
                                Cuotas *
                            </div>
                            <div class="col-sm input-label">
                                Dia de Pago *
                            </div>
                            <div class="col-sm input-label">
                                &nbsp;
                            </div>
                            <div class="col-sm input-label">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                    <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                    <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                </select>
                            </div>
                            <div class="col">
                                &nbsp;
                            </div>
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                        <br>

                    </p-panel>
                </div>

                <br>

                <!-- Boton Obtener Totales -->
                <div class="row mx-xl-5 px-xl-5">

                    <div class="col mx-xl-5">
                        <button id="btn-tarificar" class="btn btn-warning btn-wide" (click)="tarificar()">
                            <i class="fa fa-calculator"></i>
                            OBTENER TOTALES
                        </button>
                    </div>

                </div>
                <!-- Boton Obtener Totales -->

                <br>

            </p-panel>
            <!-- Datos de Pago -->

        </form>

    </div>

</p-card>