
<div class="fade-in">
    <p-card>
        <div class="p-2 ml-1 mr-1 bg-info rounded">
            <p-header>
                <i class="fa fa-info-circle"></i>
                <small>Por favor ingrese tipo de documento y numero de RUT de asegurado</small>
            </p-header>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-5">Tipo de documento *</div>
                <div class="col-7">
                    <select name="modelos" class="form-control ">
                        <option value="0" >TODOS(AS)</option>
                        <option value="1" >SIMULACION</option>
                        <option value="2" >PROPUESTA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-5">Numero de documento</div>
                <div class="col-7">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="N° de documento" aria-label="N° de documento" aria-describedby="button-addon4">
                        <div class="input-group-append" id="button-addon4">
                          <button class="btn btn-outline-secondary" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">Rut Asegurado</div>
                <div class="col-7">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Rut Asegurado" aria-label="Rut Asegurado" aria-describedby="button-addon4">
                        <div class="input-group-append" id="button-addon4">
                          <button class="btn btn-outline-secondary" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="container mx-auto px-0">
            <p-table
                [responsive]="true" 
                [paginator]="true" 
                [rows]="15">

                <ng-template pTemplate="caption">
                    <div class="ui-helper-clearfix" style="text-align: left">        
            
                        <!-- <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em; float: left;"></button> -->
                        <!-- <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em; float: left;" class="ui-button-success"></button>
                        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning" style="float: left;"></button>
             -->
                        <!-- <i class="fa fa-search mr-2 mt-2"></i>
                        <input type="text" class="inputSearch" pInputText size="50" placeholder="Ingrese un termino" (input)="dt.filterGlobal($event.target.value, 'contains')"> -->
                    
                        Resultados
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            N° Simulacion
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            N° Propuesta
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            Rut Asegurado
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            Año
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            Marca
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            Modelo
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            Estado
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            Cuotas
                        </th>
                        <th><!-- [pSortableColumn]="col.field"> -->
                            Accion
                        </th>
                    </tr>
                </ng-template>                

                <ng-template pTemplate="body">

                </ng-template>

            </p-table>
        </div>



    </p-card>

</div>