<div class="fade-in">
    <p-card>
        <div class="ml-3">
            <p-header>
                <h1>Consulta Simulacion</h1>
                <i class="fa fa-home float-left m-1"></i>
                <h6>Inicio/Consulta Simulacion</h6>
            </p-header>
        </div>

        <hr />

        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar" [ngClass]="{ hidden: sidebarHidden }">
                <div class="sidebar-header">
                    <i class="fa fa-search float-left mt-1 mr-1"></i>
                    <h6>Opciones de busqueda</h6>
                </div>

                <form>
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="Busqueda General">
                            <div class="row">
                                <div class="col-5">
                                    Tipo Consulta
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="1" >GENERAL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Canal
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="1" >TODOS(AS)</option>
                                        <option value="2" >CORREDORES</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Sucursal
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" >TODOS(AS)</option>
                                        <option value="1" >ALONSO DE CORDOVA</option>
                                        <option value="1" >ALONSO DE CORDOVA</option>
                                        <option value="2" >LA SERENA</option>
                                        <option value="3" >SANTIAGO CENTRO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Corredor
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" >TODOS(AS)</option>
                                        <option value="1" >A y B Corredores de seguros</option>
                                        <option value="2" >Actualrial</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Cia De Seguros
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" >TODOS(AS)</option>
                                        <option value="1" >REALE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Ramo
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" >TODOS(AS)</option>
                                        <option value="1" >Accidentes Personales</option>
                                        <option value="2" >Auto</option>
                                        <option value="3" >Hogar</option>
                                        <option value="4" >SOAP</option>
                                        <option value="5" >Vida</option>
                                    </select>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-12" colspan="2">
                                    <button type="button" class="btn btn-outline-primary" (click)="buscar()">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Busqueda por Fechas" [selected]="true">
                            <div class="row">
                                <div class="col-5">
                                    Periodo
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="1" >REGISTRO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">Fecha Desde</div>
                                <div class="col-7 ">
                                    <div class="input-group ">
                                        <input type="text " class="form-control calendar-input"
                                         bsDatepicker [bsConfig]="bsConfig" [dateCustomClasses]="dateCustomClasses"
                                         aria-label="Fecha Desde " aria-describedby="basic-addon2 " />
                                        <div class="input-group-append ">
                                            <span class="input-group-text " id="basic-addon2 ">
                                                <i class="fa fa-calendar-day "></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">Fecha Hasta</div>
                                <div class="col-7 ">
                                    <div class="input-group ">
                                        <input type="text " class="form-control calendar-input"
                                         bsDatepicker [bsConfig]="bsConfig" [dateCustomClasses]="dateCustomClasses"
                                         aria-label="Fecha Hasta " aria-describedby="basic-addon3 " />
                                        <div class="input-group-append ">
                                            <span class="input-group-text " id="basic-addon3 ">
                                                <i class="fa fa-calendar-day "></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-12" colspan="2">
                                    <button type="button" class="btn btn-outline-primary" (click)="buscar()">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Busqueda por Documento ">
                            <div class="row">
                                <div class="col-5 ">Numero de Simulacion</div>
                                <div class="col-7 ">
                                    <input type="text " class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Estado Simulacion
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" >TODOS(AS)</option>
                                        <option value="1" >VIGENTE</option>
                                        <option value="2" >RECHAZADA</option>
                                    </select>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-12" colspan="2">
                                    <button type="button" class="btn btn-outline-primary" (click)="buscar()">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Busqueda por Persona ">
                            <div class="row">
                                <div class="col-5">
                                    Tipo De Persona
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="1" >ASEGURADO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Tipo De Documento
                                </div>
                                <div class="col-7 ">
                                    <select name="tiposDocumento" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                        <option value="0" >TODOS(AS)</option>
                                        <option *ngFor="let tipo of tiposDocumento" value={{tipo.code}}>{{ tipo.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">Numero De Documento</div>
                                <div class="col-7 ">
                                    <input type="text " class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">Nombre</div>
                                <div class="col-7 ">
                                    <input type="text " class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">Apellido</div>
                                <div class="col-7 ">
                                    <input type="text " class="form-control" />
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-12" colspan="2">
                                    <button type="button" class="btn btn-outline-primary" (click)="buscar()">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Busqueda por Datos del Riesgo Vehiculo ">
                            <div class="row">
                                <div class="col-5">
                                    Año
                                </div>
                                <div class="col-7 ">
                                    <select class="form-control " name="anio" [(ngModel)]="selectedEstadoVehiculo">
                                        <option value="0" selected>Seleccione</option>
                                        <option *ngFor="let anio of anios" value={{anio.code}} >{{ anio.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Tipo
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1" >AUTOMOVIL</option>
                                        <option value="2" >CAMIONETA</option>
                                        <option value="3" >FURGON</option>
                                        <option value="4" >MINIBUS</option>
                                        <option value="5" >MOTO</option>
                                        <option value="6" >STATION-WAGON</option>
                                        <option value="7" >TODO TERRENO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Marca
                                </div>
                                <div class="col-7 ">
                                    <select name="marcas" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                        <option value="0" selected>Seleccione</option>
                                        <option *ngFor="let marca of marcas" value={{marca.code}} >{{ marca.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Modelo
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                        <option value="0" selected>Seleccione</option>
                                        <option *ngFor="let modelo of modelos" value={{modelo.code}} >{{ modelo.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">Patente</div>
                                <div class="col-7 ">
                                    <input type="text " class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Uso
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1" >PARTICULAR</option>
                                        <option value="2" >COMERCIAL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Sub Uso
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1" >DIARIO</option>
                                        <option value="2" >FINES DE SEMANA</option>
                                        <option value="3" >VACACIONAL</option>
                                    </select>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-12" colspan="2">
                                    <button type="button" class="btn btn-outline-primary" (click)="buscar()">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Busqueda por Datos del Riesgo Hogar ">
                            <div class="row">
                                <div class="col-5">
                                    Perfil Asegurado
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1">Propietario</option>
                                        <option value="2">Arrendatario</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Ocupacion del Riesgo
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1">Casa Ocupacion Habitacional</option>
                                        <option value="2">Casa Ocupacion Temporal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Tipo Construccion
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1">Solida</option>
                                        <option value="2">Ligero Combustible</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Region
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1">Antofagasta</option>
                                        <option value="2">La Serena</option>
                                        <option value="3">Metropolitana</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Comuna
                                </div>
                                <div class="col-7 ">
                                    <select name="comunas" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                        <option value="0" selected>Seleccione</option>
                                        <option *ngFor="let comuna of comunas" value={{comuna.code}}>{{ comuna.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    Zona
                                </div>
                                <div class="col-7 ">
                                    <select name="modelos" class="form-control ">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="1">Rural</option>
                                        <option value="2">Urbana</option>
                                    </select>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-12" colspan="2">
                                    <button type="button" class="btn btn-outline-primary" (click)="buscar()">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </form>
            </nav>

            <div id="content ">
                <button type="button " class="btn btn-default btn-sm mb-1" (click)="toggleMenu()">
                    <i class="fa" [ngClass]="iconoOpcionMenu"></i>
                    <small> {{ opcionMenu }} </small>
                </button>

                <!-- Tabla Resultados de busqueda -->
                <app-resultado-consulta-simulacion *ngIf="busquedaRealizada"></app-resultado-consulta-simulacion>
                <!-- Tabla Resultados de busqueda -->

            </div>

                <!-- Tabla Previa a Resultados de busqueda -->
                <div *ngIf="!busquedaRealizada" class="jumbotron jumbotron-fluid ml-5 mr-5 mt-10">
                    <div class="container">
                        <i class="fa fa-4x fa-info-circle float-left"></i>
                        <h2 class="display-4">Realice una busqueda</h2>
                        <p class="lead">
                            <!-- <i class="fa fa-2x fa-arrow-circle-left"></i> -->
                            Utilice el menu a la izquierda para buscar simulaciones
                        </p>
                    </div>
                </div>
                <!-- Tabla Previa a Resultados de busqueda -->
        </div>
    </p-card>
</div>