

<!-- Contenedor tarifas -->
<div>
    <div class="container section-container">
        <p-panel [toggleable]="true">

            <p-header>
                <span class="ui-panel-title">
                    <i class="fa fa-th"></i>
                    Seleccion tarifas
                    <!-- Desmarca las opciones de productos, deducibles o combinación de ambos que no quieras simular -->
                </span>
            </p-header>

            <!-- <p-card> -->
                <!-- <p-header> -->
                    <img src="assets/img/logo_reale.png" class="mb-3" style="width: 15em;">
                <!-- </p-header> -->

                <div class="container section-container tabla-tarifas mb-3"
                    *ngIf="arrayTarifas !== undefined && arrayTarifas.length > 0">

                    <div class="d-flex flex-row">
                        <div class="colFCH col headerprod pt-0 flex-fill">
                            PRODUCTO/DEDUCIBLE
                        </div>
                        <div class="colF col header pt-1 flex-fill" 
                            *ngFor="let deducible of deduciblesExistentes" >
                            {{ deducible.descripcionDeducible }}
                        </div>
                    </div>

                    <div class="d-flex flex-row" *ngFor="let tarifaActual of arrayTarifas; let i = index" >
                        <div class="colFCH col headerprod flex-fill">
                            {{ tarifaActual.descripcionActividad }}
                        </div>
                        
                        <div *ngFor="let tarifa of tarifaActual.listaTarifas; let j = index" 
                            (click)="tarifa && selecciona(i, j)"
                            [ngClass]="{seleccionable: tarifa, 
                                seleccionado: _filaTarifaSeleccionada == i && _columnaTarifaSeleccionada == j}"
                            [class]="'colF col flex-fill fila_'+i +' columna_'+j">

                            <app-celda-tarifa-livianos 
                                *ngIf="tarifa"
                                [simulacion]="tarifa">
                            </app-celda-tarifa-livianos>

                        </div>
                    </div>

                </div>
            <!-- </p-card> -->
        </p-panel>
    </div>
</div>
<!-- Contenedor tarifas -->
