<p-card>

<div class="container form-container animated fadeIn">

    <h3 class="first">Tabla básica</h3>
    <p-table #dt [value]="cars" [columns]="cols" selectionMode="single" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: right">        

                <!-- <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em; float: left;"></button> -->
                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em; float: left;" class="ui-button-success"></button>
                <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning" style="float: left;"></button>

                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Ingrese un termino" (input)="dt.filterGlobal($event.target.value, 'contains')" style="min-width:500px !important;  float: right;">
            </div>
        </ng-template>
        
        <ng-template pTemplate="header" let-cols>
            <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr [pSelectableRow]="car">
                <td>{{car.vin}}</td>
                <td>{{car.year}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.color}}</td>
            </tr>
        </ng-template>
    </p-table>

</div>

</p-card>