/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e3e3e3;
}

.container {
    max-width: 1400px;
}

div.ui-panel-titlebar {
    border-radius: 3px !important;
}

.panel-container div.ui-panel-titlebar {
    background-color: #f8f8f8 !important;
    color: #002355 !important;
}

.panel-container span.pi {
    color: blue !important;
}

.form-container {
    background-color: #f8f8f8;
    border-radius: 18px;
    border: 1px solid rgb(210, 214, 214);
    margin: 5px;
    padding: 16px;
}

.input-label {
    font-size: 80%;
}

.ui-inputtext {
    font-size: 90% !important;
}

.ui-state-highlight {
    background-color: rgb(12, 12, 126) !important;
}

.ui-tabview-selected {
    background-color: rgb(12, 12, 126) !important;
}

.ui-paginator-page {
    border-radius: 18px !important;
}

.ui-paginator-element {
    border-radius: 18px !important;
}

.ui-paginator-page.ui-state-active {
    background-color: rgb(12, 12, 126) !important;
}

