

<!-- Contenedor tarifas -->

    <div class="tabla-tarifas-container">
        <table class="container tabla-tarifas">
            <thead>
                <tr>
                    <th class="colFCH headerprod pt-0">
                        PRODUCTO/DEDUCIBLE
                    </th>
                    <th *ngFor="let deducible of deduciblesExistentes"
                        class="colF header pt-1">
                        <div class="text-center">
                            {{ deducible.descripcionDeducible }}
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let tarifaActual of arrayTarifas; let i = index" >
                    <td class="colFCH headerprod">
                        {{ tarifaActual.descripcionActividad }}
                    </td>
                        
                    <!-- La funcion para evento (click) es condicional usando operador && -->
                    <td *ngFor="let tarifa of tarifaActual.listaTarifas; let j = index" 
                        (click)="tarifa && selecciona(i, j)"
                        [ngClass]="{seleccionable: tarifa, 
                        seleccionado: _filaTarifaSeleccionada == i && _columnaTarifaSeleccionada == j}"
                        [class]="'colF fila_'+i +' columna_'+j">

                        <app-celda-cotizacion
                            *ngIf="tarifa"
                            [simulacion]="tarifa">
                        </app-celda-cotizacion>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
<!-- Contenedor tarifas -->
