.tabla-tarifas {
    border: 3px solid darkblue;
    overflow: hidden;
    border-radius: 10px;
}

.tabla-tarifas .list-group-item {
    border: 1px solid black;
    padding: 0px !important;
    margin: 0px !important;
    width: 70%;
}

.tabla-tarifas>.col {
    border: 1px solid black !important;
    padding: 0px !important;
    margin: 0px !important;
}

.listwrap {
    border: 1px solid rgb(230, 226, 226);
    /*margin: 0px !important;*/
    text-align: center;
    padding-top: 1em;
}


/*
.header {
    padding: 5px 10px 0px 15px;
}
*/

.headerprod {
    color: #002466;
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: middle !important;
    text-align: center !important;
}

.header {
    color: #002466 !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.header>h4 {
    font-weight: bold !important;
}

.btn-barra-titulo {
    float: left;
    font-size: medium !important;
    margin-left: 74%;
    margin-right: 1%;
    border: 1px solid white;
    border-radius: 3px;
    width : auto;
}

@media(max-width: 768px) {
    .btn-barra-titulo {
        margin-left: 20%;
    }   
}