<app-navbar-cotizador></app-navbar-cotizador>

<!-- Resumen Propuesta -->
<div class="fade-in">

    <p-card>

        <div class="ml-3">
            <p-header>
                <h1>Propuesta Livianos</h1>
                <i class="fa fa-home float-left m-1"></i>
                <h6>Inicio/Propuesta Livianos</h6>
            </p-header>
        </div>

        <div class="container section-container fade-in shadow-drop-center">
            <p-panel [toggleable]="true">
                <p-header>
                    <span class="ui-panel-title">
                    <i class="fa fa-file-alt"></i>
                    DETALLE PROPUESTA
                    </span>
                </p-header>

            <table class="table table-striped rounded">
                <thead class="bg-warning">
                    <th>Producto</th>
                    <th>Plan</th>
                    <th>Simulacion Reale</th>
                    <th>Propuesta Reale</th>
                    <th>Estado</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr>
                        <td>XL Liviano Particular</td>
                        <td>0 UF</td>
                        <td>5854424</td>
                        <td>5327227</td>
                        <td>Aprobada</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-wide">
                                <i class="fa fa-sync"></i>
                                Actualizar Documentos
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-wide">
                                <i class="fa fa-file-pdf"></i>
                                Ver Documentos
                            </button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            <!-- Resumen Propuesta -->

            <br>

        </p-panel>
        </div>

    </p-card>
</div>