<app-navbar-cotizador></app-navbar-cotizador>

<div class="fade-in">

    <p-card>

        <div class="ml-3">
            <p-header>
                <h1>Simular Livianos</h1>
                <i class="fa fa-home float-left m-1"></i>
                <h6>Inicio/Simular Livianos</h6>
            </p-header>
        </div>

        <hr>

        <!-- Contenedor datos principales -->
        <div class="container section-container shadow-drop-center" [style]="{width: '100%'}">

            <form (ngSubmit)="tarificar(f)" #f="ngForm">

                <!-- Panel Principal -->
                <p-panel [toggleable]="true">

                    <p-header>
                        <span class="ui-panel-title">
                        <i class="fa fa-list"></i>
                        Parámetros Iniciales
                    </span>
                    </p-header>

                    <div class="panel-container">
                        <!-- Datos del vehiculo -->
                        <p-panel [toggleable]="true">

                            <p-header>
                                <span class="ui-panel-title">
              <i class="fa fa-car"></i>
              Datos del Vehículo
            </span>
                            </p-header>

                            <div class="row">
                                <div class="col-sm input-label">
                                    Nuevo/Usado *
                                </div>

                                <div class="col-sm input-label">
                                    Patente
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <select class="form-control " name="estadosVehiculo" [(ngModel)]="selectedEstadoVehiculo">
                                  <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option>
                                </select>
                                </div>

                                <div class="col">
                                    <input class="form-control " type="text" />
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm input-label">
                                    Año *
                                </div>

                                <div class="col-sm input-label">
                                    Marca *
                                </div>

                                <div class="col-sm input-label">
                                    Modelo *
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <select class="form-control " name="anio" [(ngModel)]="selectedEstadoVehiculo">
                                  <option *ngFor="let anio of anios" value={{anio.code}} >{{ anio.label }}</option>
                                </select>
                                </div>

                                <div class="col">
                                    <select name="marcas" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                      <option *ngFor="let marca of marcas" value={{marca.code}} >{{ marca.label }}</option>
                                    </select>
                                </div>

                                <div class="col-sm input-label">
                                    <select name="modelos" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                      <option *ngFor="let modelo of modelos" value={{modelo.code}} >{{ modelo.label }}</option>
                                    </select>
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>
                            </div>

                            <br>

                        </p-panel>
                        <!-- Datos del vehiculo -->

                        <br>

                        <!-- Datos del asegurado -->
                        <p-panel [toggleable]="true">

                            <p-header>
                                <span class="ui-panel-title">
              <i class="fa fa-user"></i>
              Datos del Asegurado
            </span>
                            </p-header>

                            <div class="row">
                                <div class="col-sm input-label">
                                    Tipo de Documento *
                                </div>

                                <div class="col-sm input-label">
                                    Numero de Documento *
                                </div>

                                <div class="col-sm input-label">
                                    Primer Nombre *
                                </div>

                                <div class="col-sm input-label">
                                    Apellido Paterno *
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <select name="tiposDocumento" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                    <option *ngFor="let tipo of tiposDocumento" value={{tipo.code}}>{{ tipo.label }}</option>
                                </select>
                                </div>

                                <div class="col">
                                    <input class="form-control " type="text" />
                                </div>

                                <div class="col">
                                    <input class="form-control " type="text" />
                                </div>

                                <div class="col">
                                    <input class="form-control " type="text" />
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm input-label">
                                    Comuna *
                                </div>

                                <div class="col-sm input-label">
                                    Email *
                                </div>

                                <div class="col-sm input-label">
                                    Inicio Nueva Vigencia
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <select name="comunas" class="form-control " [(ngModel)]="selectedEstadoVehiculo">
                                    <option *ngFor="let comuna of comunas" value={{comuna.code}}>{{ comuna.label }}</option>
                                </select>
                                </div>

                                <div class="col">
                                    <input class="form-control " type="text" />
                                </div>

                                <div class="col">

                                    <div class="input-group">
                                        <input type="text" class="form-control calendar-input " bsDatepicker [bsConfig]="bsConfig" aria-label="Fecha Inicio Vigencia" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <br>

                        </p-panel>
                        <!-- Datos del asegurado -->

                        <br>

                        <!-- Adicionales -->
                        <p-panel [toggleable]="true">

                            <p-header>
                                <span class="ui-panel-title">
                        <i class="fa fa-plus-circle"></i>
                        Adicionales
                    </span>
                            </p-header>

                            <div class="row">
                                <div class="col-sm input-label">
                                    Taller
                                </div>

                                <div class="col-sm input-label">
                                    Asistencia
                                </div>

                                <div class="col-sm input-label">
                                    RC en Exceso
                                </div>

                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <select class="form-control " name="taller" [(ngModel)]="selectedEstadoVehiculo">
                                        <option *ngFor="let taller of talleres" value={{taller.code}} >{{ taller.label }}</option>
                                </select>
                                </div>
                                <div class="col">
                                    <select class="form-control " name="asistencia" [(ngModel)]="selectedEstadoVehiculo">
                                        <option *ngFor="let asistencia of asistencias" value={{asistencia.code}} >{{ asistencia.label }}</option>
                                </select>
                                </div>
                                <div class="col">
                                    <select class="form-control " name="rcEnExceso" [(ngModel)]="selectedEstadoVehiculo">
                                  <!-- <option *ngFor="let estado of estadosVehiculo" value={{estado.code}} >{{ estado.label }}</option> -->
                                </select>
                                </div>
                                <div class="col-sm input-label">
                                    &nbsp;
                                </div>
                            </div>
                        </p-panel>
                        <!-- Fin Adicionales -->
                    </div>

                    <br>

                    <!-- Botones tarificacion -->
                    <div class="m-3">
                        <div class="row">
                            <div class="col">
                                <button id="btn-borrar" class="btn btn-outline-primary btn-wide" (click)="saludo()">
              <i class="fa fa-file"></i>
              LIMPIAR FORMULARIO
            </button>
                            </div>
                            <div class="col">
                                <button id="btn-tarificar" class="btn btn-warning btn-wide" (click)="tarificar()">
              <i class="fa fa-calculator"></i>
              OBTENER TARIFAS
            </button>
                            </div>
                        </div>
                    </div>
                    <!-- Botones tarificacion -->


                </p-panel>
                <!-- Panel Principal -->
            </form>
        </div>
        <!-- Contenedor datos principales -->

        <br>

        <!-- Contenedor tarifas -->
        <div class="container fade-in section-container shadow-drop-center" *ngIf="tarificado" [style]="{width: '100%'}">
            <p-panel [toggleable]="true">

                <p-header>
                    <span class="ui-panel-title" style="font-size:1.5em;">
                        <i class="fa fa-money-bill"></i>
                        Ofertas Disponibles
                    </span>
                </p-header>

                <p-card>


                    <p-header>
                        <div style="float: right" class="m-2">Nro. Simulación: 12345</div>
                        <img src="assets/img/logo_reale.png" style="width: 15%;">
                    </p-header>

                    <ul class="tabla-tarifas list-group" role="tablist">
                        <li class="row">
                            <div class="listwrap col-2 header">PRODUCTO/DEDUCIBLE</div>
                            <div class="list-group-item border-0 col text-center">
                                <div class="listwrap header">0 UF</div>
                            </div>
                            <div class="list-group-item border-0 col text-center">
                                <div class="listwrap header">3 UF</div>
                            </div>
                            <div class="list-group-item border-0 col text-center">
                                <div class="listwrap header">5 UF</div>
                            </div>
                            <div class="list-group-item border-0 col text-center">
                                <div class="listwrap header">10 UF</div>
                            </div>
                        </li>
                        <li class="row">
                            <div class="listwrap col-2 headerprod">
                                <br>
                                <h4>XL Liviano Particular</h4>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['1-1'] && tarifasClasificadas['1-1'][0]" [simulacion]="tarifasClasificadas['1-1'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['1-2'] !== undefined && tarifasClasificadas['1-2'][0]" [simulacion]="tarifasClasificadas['1-2'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['1-3'] !== undefined && tarifasClasificadas['1-3'][0]" [simulacion]="tarifasClasificadas['1-3'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['1-4'] !== undefined && tarifasClasificadas['1-4'][0]" [simulacion]="tarifasClasificadas['1-4'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                        </li>
                        <li class="row">

                            <div class="listwrap col-2 headerprod">
                                <br>
                                <h4>L Liviano Particular</h4>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['2-1'] !== undefined && tarifasClasificadas['2-1'][0]" [simulacion]="tarifasClasificadas['2-1'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['2-2'] !== undefined && tarifasClasificadas['2-2'][0]" [simulacion]="tarifasClasificadas['2-2'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['2-3'] !== undefined && tarifasClasificadas['2-3'][0]" [simulacion]="tarifasClasificadas['2-3'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['2-4'] !== undefined && tarifasClasificadas['2-4'][0]" [simulacion]="tarifasClasificadas['2-4'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                        </li>
                        <li class="row">
                            <div class="listwrap col-2 headerprod">
                                <br>
                                <h4>M Liviano Particular</h4>
                            </div>

                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['3-1'] !== undefined && tarifasClasificadas['3-1'][0]" [simulacion]="tarifasClasificadas['3-1'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['3-2'] !== undefined && tarifasClasificadas['3-2'][0]" [simulacion]="tarifasClasificadas['3-2'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['3-3'] !== undefined && tarifasClasificadas['3-3'][0]" [simulacion]="tarifasClasificadas['3-3'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['3-4'] !== undefined && tarifasClasificadas['3-4'][0]" [simulacion]="tarifasClasificadas['3-4'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                        </li>
                        <li class="row">
                            <div class="listwrap col-2 headerprod">
                                <br>
                                <h4>S Liviano Particular</h4>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['4-1'] !== undefined && tarifasClasificadas['4-1'][0]" [simulacion]="tarifasClasificadas['4-1'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['4-2'] !== undefined && tarifasClasificadas['4-2'][0]" [simulacion]="tarifasClasificadas['4-2'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['4-3'] !== undefined && tarifasClasificadas['4-3'][0]" [simulacion]="tarifasClasificadas['4-3'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action col border-0" data-toggle="list" role="tab">
                                <div class="listwrap">
                                    <app-tarifa *ngIf="tarifasClasificadas['4-4'] !== undefined && tarifasClasificadas['4-4'][0]" [simulacion]="tarifasClasificadas['4-4'][0]">
                                    </app-tarifa>
                                    &nbsp;
                                </div>
                            </div>
                        </li>
                    </ul>

                    <br>

                    <div class="bg-info p-3 text-white">
                        <i class="fa fa-exclamation-circle"></i> Nota: Taller seleccionado: Por defecto / Asistencia seleccionada:
                        <br> Por defecto Todas las Primas Incluyen el IVA
                    </div>

                    <br>

                    <p-card>
                        <div class="row">
                            <div class="col">Descuento/Recargo</div>
                            <div class="col">Porcentaje</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control " name="descuentoRecargo" [(ngModel)]="selectedEstadoVehiculo">
                                    <option value="0" ></option>
                                    <option value="1" >DESCUENTO</option>
                                    <option value="2" >RECARGO</option>
                                  </select>
                            </div>
                            <div class="col">
                                <input class="form-control " type="text" />
                            </div>
                            <div class="col">
                                <button id="btn-tarificar" class="btn btn-warning btn-wide" (click)="tarificar()">
                                    <i class="fa fa-calculator"></i>
                                    RETARIFICAR
                                  </button>
                            </div>
                        </div>
                    </p-card>

                    <br>

                    <!-- Botones Propuesta -->
                    <div class="m-3">
                        <div class="row">
                            <div class="col">
                                <button id="btn-borrar" class="btn btn-outline-primary btn-wide" (click)="saludo()">
              <i class="fa fa-print"></i>
              IMPRIMIR SIMULACION
            </button>
                            </div>
                            <div class="col">
                                <button id="btn-comenzarPropuesta" class="btn btn-warning btn-wide" (click)="comenzarPropuesta()">
                                    CONTINUAR
                                    <i class="fa fa-arrow-circle-right"></i>
            </button>
                            </div>
                        </div>
                    </div>
                    <!-- Botones Propuesta -->

                </p-card>

            </p-panel>
        </div>
        <!-- Contenedor tarifas -->


    </p-card>


    <br>

    <!-- Contenedor Propuesta -->
    <app-propuesta *ngIf="CURRENT_STAGE == PROPUESTA"></app-propuesta>
    <!-- Contenedor Propuesta -->

    <br>
    <br>


</div>