<!-- Resumen Propuesta -->
<div class="fade-in">

    <p-card>

        <div class="ml-3">
            <p-header>
                <h1>Poliza Livianos</h1>
                <i class="fa fa-home float-left m-1"></i>
                <h6>Inicio/Emision Livianos</h6>
            </p-header>
        </div>

        <div class="container section-container fade-in shadow-drop-center">
            <p-panel [toggleable]="true">
                <p-header>
                    <span class="ui-panel-title">
                    <i class="fa fa-file-alt"></i>
                    DETALLE POLIZA
                    </span>
                </p-header>

                <br>

                <div class="container px-auto">
                    <div class="table-responsive">
                        <table class="table table-striped mx-auto rounded">
                            <thead class="bg-warning">
                                <th>Producto</th>
                                <th>Plan</th>
                                <th>Simulacion Reale</th>
                                <th>Propuesta Reale</th>
                                <th>Poliza Reale</th>
                                <th>Estado</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>XL Liviano Particular</td>
                                    <td>0 UF</td>
                                    <td>5854424</td>
                                    <td>5327227</td>
                                    <td>300027227</td>
                                    <td>Vigente</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>

                <div class="container">
                    <div class="row mb-3">
                        <div class="col mb-3">
                            <button type="button" class="btn btn-primary btn-wide">
                                <i class="fa fa-sync"></i>
                                Actualizar Documentos
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-wide">
                                <i class="fa fa-file-pdf"></i>
                                Ver Documentos
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Resumen Propuesta -->

            <br>

        </p-panel>
        </div>

        <div class="fade-in">

                <div class="container section-container fade-in shadow-drop-center">
                    <!-- Boton Nueva Simulacion -->
                    <div class="container mx-xl-5 px-xl-5">
                        <div class="row mx-xl-5 px-xl-5">
                            
                            <div class="col mx-xl-5">
                                <button id="btn-nueva-simulacion" type="button" name="btn-nueva-simulacion" 
                                    class="btn btn-outline-primary btn-wide" (click)="nuevaSimulacion()">
                                    <i class="fa fa-file"></i>
                                    NUEVA SIMULACION
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Boton Nueva Simulacion -->
                </div>
            
        </div>

    </p-card>
</div>