<!-- Contenedor links -->
<!-- <div class="container fade-in form-container shadow-lg" [style]="{width: '100%'}"> -->
<div class="container form-container shadow-lg" [style]="{width: '100%'}">
<br>
    <p-panel>
        <div class="card-deck">
            <div class="card card-menu-home shadow-lg slide-in-bck-left" (click)="goToRoute('simulacion-livianos')">
                <div class="card-header ripple">
                    <h6>Simular Livianos</h6>
                </div>
                <div class="card-body ripple ">
                    <i class="fa fa-5x fa-car-side"></i>
                </div>
            </div>

            <div class="card card-menu-home shadow-lg slide-in-bck-left" (click)="goToRoute('simulacion-pesados')">
                <div class="card-header ">
                    <h6>Simular Pesados</h6>
                </div>
                <div class="card-body ">
                    <i class="fa fa-5x fa-truck-moving"></i>
                </div>
            </div>
            
            <div class="card card-menu-home shadow-lg slide-in-bck-center" (click)="goToRoute('simulacion-motos')">
                <div class="card-header ">
                    <h6>Simular Motos</h6>
                </div>
                <div class="card-body ">
                    <i class="fa fa-5x fa-motorcycle"></i>
                </div>
            </div>
            
            <div class="card card-menu-home shadow-lg slide-in-bck-center" (click)="goToRoute('simulacion-hogar')">
                <div class="card-header ">
                    <h6>Simular Hogar</h6>
                </div>
                <div class="card-body ">
                    <i class="fa fa-5x fa-home"></i>
                </div>
            </div>
            
            <div class="card card-menu-home shadow-lg slide-in-bck-right" (click)="goToRoute('consulta-produccion')">
                <div class="card-header ">
                    <h6>Ver Produccion</h6>
                </div>
                <div class="card-body ">
                    <i class="fa fa-5x fa-calculator"></i>
                </div>
            </div>

            <div class="card card-menu-home shadow-lg slide-in-bck-right" (click)="goToRoute('consulta-simulacion')">
                <div class="card-header ">
                    <h6>Ver Simulaciones</h6>
                </div>
                <div class="card-body ">
                    <i class="fa fa-5x fa-list"></i>
                </div>
            </div>

        </div>
    </p-panel>
<br>
</div>