/* You can add global styles to this file, and also import other style files */

@import "./assets/animista/animista.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "./assets/themes/nova-colored-custom/nova-colored-custom.css";
@import "./assets/ripple/ripple.css";

body {
    background-color: #e3e3e3 !important;
    height: 100%;
    overflow-x: hidden;
}

  /**************/
 /*DIAGRAMACION*/
/**************/
.scrollable-x {
    overflow-x: scroll !important;
}

.bg-info {
    background-color: lightskyblue !important;
}

.container {
    max-width: 100% !important;
}

.page-container {
    max-width: 100% !important;
    margin-top: 2.2rem !important;
    margin-bottom: 2rem !important;
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
    padding-left: 0.2em !important;
    padding-right: 0.2rem !important;
}

@media (max-width: 768px) {
    .page-container {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

.section-container {
    background-color: #f8f8f8;
    border-radius: 3px;
    border: 1px solid rgb(210, 214, 214);
    margin-top: 0.4%;
    /* margin-left: 0.3%;
    margin-right: 0.3%; */
    padding: 0.6em;
    min-width: 100% !important;
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

  /********/
 /*PANELS*/
/********/
div.ui-panel-titlebar {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    font-size: medium;
}

/*Paneles internos (claros)*/
.panel-container div.ui-panel-titlebar {
    background-color: #f8f8f8 !important;
    color: #002355 !important;
    border: 1px solid #a5d5f5 !important;
}

.panel-container span.pi {
    color: #007ad9 !important;
}

.ui-panel-content {
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

/*workaround toggle button en panel con botones*/
body .ui-panel .ui-panel-title {
    width: calc(100% - 30px) !important;
    display: inline-block !important;
}
body .ui-panel .ui-panel-title .ui-panel-title-buttons {
    float: right !important;
    margin: 0.1em 0.2em !important;
}
body .ui-panel .ui-panel-title .ui-panel-titlebar-icon {
    margin-top: -0.15em !important;
    margin-bottom: -0.15em !important;
}

  /*******/
 /*TABLE*/
/*******/
.table thead th {
    vertical-align: top !important;
}
 
.ui-chkbox,
.ui-chkbox-label {
    float: left !important;
    cursor: pointer;
}

  /******************/
 /*BUTTONS & INPUTS*/
/******************/
.btn-wide {
    min-width: 100% !important;
}

.btn-md-wide {
    min-width: 60% !important;
}

.btn {
    font-size: 95% !important;
}

.input-label {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.form-control {
    border: 1px solid #44b4c0 !important;
    font-size: 100% !important;
}

/*Calculo de ancho para inputgroups*/
.ui-inputgroup > .ui-inputtext {
    /* min-width: 90% !important; */
    min-width: calc(100% - 2.357em) !important;
}

.ui-dropdown {
    min-width: 1em !important;
}

  /************/
 /*DATATABLES*/
/************/
.ui-state-highlight,
.ui-tabview-selected,
.ui-paginator-page.ui-state-active {
    background-color: rgb(13, 13, 170) !important;
}

.ui-paginator-page,
.ui-paginator-element {
    border-radius: 50% !important;
}

.ui-table-summary {
    background-color: #f4f4f4 !important;
    border: 1px solid #c8c8c8 !important;
    border-top: 0px !important;
}

.ui-widget {
    display: block !important;
}

  /***********/
 /*BUSQUEDAS*/
/***********/
.inputSearch {
    width: 30% !important;
    min-width: 30% !important;
    max-width: 40% !important;
    float: left !important;
}

  /************/
 /*DATEPICKER*/
/************/
.bs-datepicker-container {
   padding: 0em !important;
   border-radius: 0em;
   background-color: transparent !important;
}

table td.ui-datepicker-today>a {
   color: white !important;
}

/*Monthpicker*/
.ui-datepicker-monthpicker {
    max-width: 20em !important;
}

