/* You can add global styles to this file, and also import other style files */

@import "./assets/animista/animista.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
/* @import "./assets/themes/theme-blue-v4.css"; */
@import "./assets/themes/nova-colored-custom.css";
body {
    background-color: #e3e3e3 !important;
    height: 100%;
}

  /**************/
 /*DIAGRAMACION*/
/**************/
.container {
    max-width: 97% !important;
}

div.ui-panel-titlebar {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    font-size: large;
}

.panel-container div.ui-panel-titlebar {
    background-color: #f8f8f8 !important;
    color: #002355 !important;
    border: 1px solid #a5d5f5 !important;
}

.panel-container span.pi {
    color: #007ad9 !important;
}

.ui-panel-content {
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.section-container {
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 1px solid rgb(210, 214, 214);
    margin: 1% auto;
    padding: 1%;
    width: 100% !important;
}

/*workaround toggle button en panel con botones*/

        body .ui-panel .ui-panel-title {
            width: calc(100% - 30px) !important;
            display: inline-block !important;
        }
        body .ui-panel .ui-panel-title .ui-panel-title-buttons {
                float: right !important;
                margin: 0.1em 0.2em !important;
        }

        body .ui-panel .ui-panel-title .ui-panel-titlebar-icon {
            margin-top: -0.15em !important;
            margin-bottom: -0.15em !important;
        }


  /****************/
 /*BOTONES:INPUTS*/
/****************/
.input-label {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.btn {
    font-size: 95% !important;
}

.btn-wide {
    min-width: 100% !important;
}

.form-control {
    border: 1px solid #44b4c0 !important;
    font-size: 100% !important;
}

/*.form-control,
select {
    height: 2vw !important;
}
*/

input {
    max-width: 100% !important;
    /*min-width: 100% !important;*/
}

.extendido {
    width: 100% !important;
}

/*
.ui-inputtext {
    font-size: 90% !important;
}
*/

  /************/
 /*DATATABLES*/
/************/
.ui-state-highlight,
.ui-tabview-selected,
.ui-paginator-page.ui-state-active {
    background-color: rgb(13, 13, 170) !important;
}

.ui-paginator-page,
.ui-paginator-element {
    border-radius: 50% !important;
}

.ui-table-summary {
    background-color: #f4f4f4 !important;
    border: 1px solid #c8c8c8 !important;
    border-top: 0px !important;
}

.ui-widget {
    display: block !important;
}







.seleccionado {
    border: 6px solid rgb(230, 215, 0) !important;
}


  /***********/
 /*ACCORDION*/
/***********/
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: rgb(8, 8, 133) !important;
    color: white;
}

body .ui-accordion .ui-accordion-content {
    padding-top: 0px !important;
}

.btnSearch {
    margin-left: 50em !important;
}

@media (max-width: 768px) {
    .btnSearch {
        margin-left: 1em !important;
    }
}

.bg-image-blur {
    /* The image used */
    background-image: url("./assets/img/sucursal-reale-la-serena.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


  /************/
 /*DATEPICKER*/
/************/
.bs-datepicker-container {
   padding: 0em !important;
   border-radius: 0em;
   /*background-color: transparent !important;*/
}

table td.ui-datepicker-today>a {
   color: white !important;
}

.calendar-input {
   min-width: 60% !important;
}
