

<nav class="navbar navbar-expand-md navbar-light fixed-top shadow-lg fade-in">
    <a class="navbar-brand " href="/home">
        <img src="assets/img/logo_reale.png " height="35em" alt="" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse swing-in-top-fwd" id="collapsibleNavbar">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home-cotizador">Home <span class="sr-only">(current)</span></a>
            </li>
        
            <!-- Dropdown -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Venta
                </a>
                <ul class="dropdown-menu shadow-lg swing-in-top-fwd">
                    <li>
                        <a class="dropdown-item" routerLink="/simulacion-livianos">
                            <i class="fa fa-car-side"></i>
                            Simular Livianos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/simulacion-pesados">
                            <i class="fa fa-truck-moving"></i>
                            Simular Pesados
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/simulacion-motos">
                            <i class="fa fa-motorcycle"></i>
                            Simular Motos
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/simulacion-hogar">
                            <i class="fa fa-home"></i>
                            Simular Hogar
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Dropdown -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Administración
                </a>
                <div class="dropdown-menu shadow-lg swing-in-top-fwd">
                    <li>
                        <a class="dropdown-item" routerLink="/consulta-simulacion">
                            <i class="fa fa-list"></i>
                            Consulta Simulacion
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-calculator"></i>
                            Consulta Produccion
                        </a>
                    </li>
                </div>
            </li>
        </ul>
      </div>
      
          <div class="ml-3 mb-2 pull-right clock">
            <h6>Bienvenido Mario</h6>
            
            <div class="bg-info rounded ml-2 p-1">
                <h6 class="text-white text-left">{{ fecha | date:'short' }}</h6>
            </div>
        </div>
    </nav>