@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar {
    height: 2.7em;
    background-color: #ffffff; 
    border-bottom: 3px solid rgb(161, 196, 5);
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar .nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.dropdown-menu {
    margin-top: -0.1em;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #1858ac;
    color: #fff !important;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #ebeff3;
}

.nav-link,
.dropdown-menu>li>a {
    color: #071170 !important;
}

.clock {
    display: flex;
    margin-top: 0.6rem;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
    }
    .clock {
        display: none;
    }
}