<!-- Resumen Propuesta -->
<div class="fade-in">

    <p-card>

        <div class="ml-3">
            <p-header>
                <h1>Propuesta Livianos</h1>
                <i class="fa fa-home float-left m-1"></i>
                <h6>Inicio/Propuesta Livianos</h6>
            </p-header>
        </div>

        <div class="container section-container fade-in shadow-drop-center">
            <p-panel [toggleable]="true">
                <p-header>
                    <span class="ui-panel-title">
                    <i class="fa fa-file-alt"></i>
                    DETALLE PROPUESTA
                    </span>
                </p-header>

                <br>

                <div class="container px-auto">
                    <div class="table-responsive">
                        <table class="table table-striped mx-auto rounded">
                            <thead class="bg-warning">
                                <th>Producto</th>
                                <th>Plan</th>
                                <th>Simulacion Reale</th>
                                <th>Propuesta Reale</th>
                                <th>Estado</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>XL Liviano Particular</td>
                                    <td>0 UF</td>
                                    <td>5854424</td>
                                    <td>5327227</td>
                                    <td>Aprobada</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>

                <div class="container">
                    <div class="row mb-3">
                        <div class="col mb-3">
                            <button type="button" class="btn btn-primary btn-wide">
                                <i class="fa fa-sync"></i>
                                Actualizar Documentos
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-wide">
                                <i class="fa fa-file-pdf"></i>
                                Ver Documentos
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Resumen Propuesta -->

            <br>

            
            <div class="panel-container">
                <p-panel [toggleable]="true">
                    
                    <p-header>
                        <span class="ui-panel-title">
                            <i class="fa fa-paperclip"></i>
                            Adjuntar Archivos
                        </span>
                    </p-header>
                
                    <div appDragDrop
                        class="uploadfilecontainer" 
                        (click)="fileInput.click()" 
                        (fileDropped)="onFileDropped($event)">

                        <div class="centered">
                            <i class="fa fa-upload fa-4x"></i>
                            Arrastre aqui sus archivos
                            
                            <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
                        </div>
                    </div>
                    <div  class="files-list" *ngFor="let file of files;let i= index">
                        <p> {{ file }} </p>
                        <button class="delete-file" (click)="deleteAttachment(i)">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </div>
                    
                </p-panel>
            </div>
            
            
            <!-- Boton Emitir -->
            <div class="container mt-2 mx-xl-5 px-xl-5">
                <div class="row mx-xl-5 px-xl-5">
                    
                    <div class="col mx-xl-5">
                        <button id="btn-propuesta" type="button" name="btn-propuesta" 
                        class="btn btn-warning btn-wide" (click)="emitirPoliza()">
                        EMITIR
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Boton Emitir -->
        <!-- </div> -->
        
    </p-panel>
    </div>
        

    </p-card>
</div>